/* Reset some default padding and margin */
body, html, div {
  padding: 0;
  margin: 0;
}

/* Full height layout */
html, body, #root, .App {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Arial, sans-serif;
}

.appTitle h1 {
  margin: 0;
  font-size: 2em;
}

.authorContainer {
  margin-top: 10px;
}

.navigationArrowsContainer {
  margin: 20px;
}

.componentContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Adjust according to your design */
.activeWindow {
  display: block;
}

.hiddenWindow {
  display: none;
}

.navigationButton {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.navigationButton:hover {
  background-color: white;
  color: black;
}
